.form-container{
    height:400px;
    width:300px;
    border: 2px solid ;
    margin: 30px 400px;
    background-color: cadetblue;
    text-decoration-color: darkgreen;
}
.form-header{
    height:70px;
    width:298px;
    border: 1px ;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-body{
    height:300px;
    width:298px;
    border: 2px ;
    display: flex;
   
    justify-content: center;
}
.booking-container{
    height:380px;
    width:300px;
    border: 2px solid ;
    margin: 30px 400px;
    background-color: cadetblue;
    text-decoration-color: darkgreen;

}
.booking-header{
    height:70px;
    width:298px;
    border: 1px ;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-flex{
    height:50px;
    width:298px;
    display: flex;
}